<!DOCTYPE html>
<html lang="pt-br">
<meta charset="UTF-8">
<head>
    <title>Helpsup</title>
    <meta name="description" content="Suporte interno">
    <meta name="keywords" content="ajuda,suporte,dinamize,intranet">
    <meta name="author" content="Nicolas Pedroso">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="modulo.js"></script>
</head>
<body ng-app="app">
	<div class="jumbotron jumbotron-fluid" style="padding-bottom: 0;padding-top: 0;">
    <div class="container" align="center">
   	   <h1 align="center">Help Supp</h1>
       <blockquote class="blockquote">
   	   		<footer class="blockquote-footer">By Nick 1</cite></footer>
	   </blockquote>
    </div>
    </div> 
    <div ng-controller="controlador">
    	<div class="form-group" align="center">
    		<label for="form-control">Procuro por: </label>
            <input type="text" class="form-control" ng-model="searchText" placeholder="Digite aqui" style="max-width:600px; border-radius: 20px;"/>
        <br /><br />
			<!-- Add filme --> 
			<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">Cadastrar solução</button>

			<!-- Modal -->
			<div id="myModal" class="modal fade" role="dialog">
			  <div class="modal-dialog">
			    <div class="modal-content">
			      <div class="modal-header">
			        <button type="button" class="close" data-dismiss="modal">&times;</button>
			        <h4 class="modal-title">Cadastrar solução</h4>
			      </div>
			      <div class="modal-body">
			      	<form class="form-add" ng-submit="addCad();" onsubmit="$('#sucessoCad').fadeIn('fast').delay(2000).fadeOut();">
			      		<input type="text" class="form-control" ng-model="novoCad.titulo" placeholder="Título" style="max-width:600px;" required /><br>
			      		<textarea class="form-control" ng-model="novoCad.desc" placeholder="Descrição" style="max-width:600px;" required/></textarea><br>
			      		<select class="form-control" id="select" required ng-model="novoCad.categoria" ng-options="registro.categoria for registro in registros">
					      <option disabled value>Selecione a categoria</option>
					    </select>
			      </div>
			      <div class="modal-footer">
			      	<button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
			        <button type="submit" class="btn btn-success">OK</button>
			        <br><br>
			        <!-- Aqui é a mensagem de cadstro com sucesso escondida, onde será exibida no momento de validação -->
                          <div class="alert alert-success" id="sucessoCad" class="row" style="display: none;">
                              <div align="center">Cadastro realizado com sucesso!</div>
                          </div>
			      </form>
			      </div>
			    </div>
			  </div>
			 </div>
		<!-- Mostra dados -->	
        <table class="table">
                <tr ng-repeat="registro in registros | filter:searchText">
                    <td><b> {{ registro.titulo }} </b></td>
                    <td> {{ registro.desc }} </td>
                    <td> {{ registro.categoria }} </td>
                </tr>
        </table>
        </div>
</body>
</html>